<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--忽略了public的路径-->
  <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
  <link rel='stylesheet' href='/stylesheets/ionicons.min.css' />
  <link rel='stylesheet' href='/lib/admin-lte/dist/css/AdminLTE.min.css' />
  <link rel='stylesheet' href='/lib/admin-lte/dist/css/skins/skin-blue.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <% include ./../header.ejs %>
  <!-- Left side column. contains the logo and sidebar -->
  <% include ./../menu.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
            <button class="btn btn-sm btn-success " onclick="toAddDetail()">
              <span class="glyphicon glyphicon-plus"></span>
              添加
            </button>
          </h3>

          <button class="btn btn-sm btn-default pull-right">导入数据</button>
          <button class="btn btn-sm btn-info pull-right">导出数据</button>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
              <!-- 类型id、主题名称、套系类型(风格)、婚纱id、拍摄场地、礼服、价格、
              图片 -->
            <tr>
             
              <th>活动ID</th>
              <th>主题名称</th>
              <th>拍摄场地</th>
              <th>价格</th>
              
              <th>图片</th>
              <th>操作</th>
            </tr>
         
           <% for(var i =0;i<result.length;i++){ %>
              <tr>
                <td><%= result[i].subjectID %></td>
                <td><%= result[i].subjectName %></td>
                <td><%= result[i].subjectAddress %></td>
                <td><%= result[i].subjectPrice %></td>
                <td>
                  <% for(var j=0;j<result[i].img.length;j++){ %>
                    <img src="<%= result[i].img[j] %>" alt="">
                    <%}%>
                </td>
                <td>
                  <button class="btn btn-xs btn-warning" onclick="toUpdateActive('')">
                    <span class="glyphicon glyphicon-edit"></span>
                    编辑
                  </button>
                  <button class="btn btn-xs btn-danger" onclick="toDeleteActive('')">
                    <span class="glyphicon glyphicon-trash"></span>
                    删除
                  </button>
                </td>
              </tr>
      <% } %>

          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
         
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <% include ./../footer.ejs %>


  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/app.min.js"></script>
<script>
  function toAddDetail() {
      window.location.href = '/detail/addDetail';
  }
  function toUpdateSubject(subjectID){
      window.location.href = '/active/updateSubject?activeID='+activeID;
  }
  function toDeleteSubject(subjectID) {
      window.location.href = '/active/deleteSubject?activeID='+activeID;
  }
</script>
</body>
</html>
